/* 重置样式 */
html {
  font-size: 36px;
}

body {
  font: 12px 'Microsoft YaHei','微软雅黑';
  margin: 0;
  color: #333333;
}
ul,ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p,h1,h2,h3 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #333333;
}

/* 共用样式 */
.wrapper {
  width: 1090px;
  margin: 0 auto;
}

.icon {
  display: inline-block;
}

.f_right {
  float: right;
}
.f_left {
  float: left;
}